/* purgecord window */
#purgecord.browser {
    box-shadow: var(--shadow-border), var(--shadow-high);
        border: 1px solid var(--border-subtle);
    overflow: hidden;
}

#purgecord.container,
#purgecord .container {
    background-color: var(--background-surface-high);
    border-radius: 8px;
    box-sizing: border-box;
    cursor: default;
    flex-direction: column;
}

#purgecord .header {
    background-color: var(--background-base-lowest, var(--background-tertiary));
    height: 48px;
    align-items: center;
    min-height: 48px;
    padding: 0 16px;
    display: flex;
    color: var(--text-subtle, var(--header-secondary));
    cursor: grab;
}

#purgecord .header .icon {
    color: var(--interactive-icon-default, var(--interactive-normal));
    margin-right: 8px;
    flex-shrink: 0;
    width: 24;
    height: 24;
}

#purgecord .header .icon:hover {
    color: var(--interactive-icon-hover, var(--interactive-hover));
}

#purgecord .header h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-family: var(--font-display);
    color: var(--text-strong, var(--header-primary));
    flex-shrink: 0;
    margin-right: 16px;
}

#purgecord .spacer {
    flex-grow: 1;
}

#purgecord .header .vert-divider {
    width: 1px;
    height: 24px;
    background-color: var(--border-subtle, var(--background-modifier-accent));
    margin-right: 16px;
    flex-shrink: 0;
}

#purgecord legend,
#purgecord label {
    color: var(--text-subtle, var(--header-secondary));
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: default;
    font-family: var(--font-display);
    margin-bottom: 8px;
}

#purgecord .multiInput {
    display: flex;
    align-items: center;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    color: var(--text-default);
    background-color: var(--input-background-default, var(--input-background));
    border: none;
    transition: border-color 0.2s ease-in-out 0s;
}

#purgecord .multiInput :first-child {
    flex-grow: 1;
}

#purgecord .multiInput button:last-child {
    margin-right: 4px;
}

#purgecord .input {
    font-size: 16px;
    width: 100%;
    transition: border-color 0.2s ease-in-out 0s;
    padding: 10px;
    height: 44px;
    
    background-color: var(--input-background-default, var(--input-background));
    border: 1px solid var(--input-border-default, var(--input-border));
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--text-default);
}

#purgecord fieldset {
    margin-top: 16px;
}

#purgecord .input-wrapper {
    display: flex;
    align-items: center;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    color: var(--text-default);
    background-color: var(--input-background-default, var(--input-background));
    border: none;
    transition: border-color 0.2s ease-in-out 0s;
}

#purgecord input[type="text"],
#purgecord input[type="search"],
#purgecord input[type="password"],
#purgecord input[type="datetime-local"],
#purgecord input[type="number"],
#purgecord input[type="range"] {
    background-color: var(--input-background-default, var(--input-background));
    border: 1px solid var(--input-border-default, var(--input-border));
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--text-default);
    font-size: 16px;
    height: 44px;
    padding: 12px 10px;
    transition: border-color .2s ease-in-out;
    width: 100%;
}

#purgecord .divider,
#purgecord hr {
    border: none;
    margin-bottom: 24px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--border-subtle, var(--background-modifier-accent));
}

#purgecord .sectionDescription {
    margin-bottom: 16px;
    color: var(--text-subtle, var(--header-secondary));
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

#purgecord a {
    color: var(--text-link);
    text-decoration: none;
}

#purgecord .btn,
#purgecord button {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    user-select: none;

    /* sizeSmall */
    width: 60px;
    height: 32px;
    min-width: 60px;
    min-height: 32px;

    /* lookFilled colorPrimary */
    color: rgb(255, 255, 255);
    background-color: var(--control-secondary-background-default, var(--button-secondary-background));
}

#purgecord .sizeMedium {
    width: 96px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
}

#purgecord .sizeMedium.icon {
    width: 38px;
    min-width: 38px;
}

#purgecord sup {
    vertical-align: top;
}

/* lookFilled colorPrimary */
#purgecord .accent {
    background-color: var(--background-brand, var(--brand-experiment));
}

#purgecord .danger {
    background-color: var(--control-critical-primary-background-default, var(--button-danger-background));
}

#purgecord .positive {
    background-color: var(--control-expressive-background-default, var(--button-positive-background));
}

#purgecord .info {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 10px;
    color: var(--text-muted);
}

/* Scrollbar */
#purgecord .scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#purgecord .scroll::-webkit-scrollbar-corner {
    background-color: transparent;
}

#purgecord .scroll::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: var(--scrollbar-thin-thumb);
    min-height: 40px;
}

#purgecord .scroll::-webkit-scrollbar-track {
    border-color: var(--scrollbar-thin-track);
    background-color: var(--scrollbar-thin-track);
    border: 2px solid var(--scrollbar-thin-track);
}

/* fade scrollbar */
#purgecord .scroll::-webkit-scrollbar-thumb,
#purgecord .scroll::-webkit-scrollbar-track {
    visibility: hidden;
}

#purgecord .scroll:hover::-webkit-scrollbar-thumb,
#purgecord .scroll:hover::-webkit-scrollbar-track {
    visibility: visible;
}

/**** functional classes ****/
#purgecord.redact .priv {
    display: none !important;
}

#purgecord.redact x:not(:active) {
    color: transparent !important;
    background-color: var(--primary-700) !important;
    cursor: default;
    user-select: none;
}

#purgecord.redact x:hover {
    position: relative;
}

#purgecord.redact x:hover::after {
    content: "Redacted information (Streamer mode: ON)";
    position: absolute;
    display: inline-block;
    top: -32px;
    left: -20px;
    padding: 4px;
    width: 150px;
    font-size: 8pt;
    text-align: center;
    white-space: pre-wrap;
    background-color: var(--background-surface-high, var(--background-floating));
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    color: var(--text-default);
    border-radius: 5px;
    pointer-events: none;
}

#purgecord.redact [priv] {
    -webkit-text-security: disc !important;
}

#purgecord :disabled {
    display: none;
}

/**** layout and utility classes ****/

#purgecord,
#purgecord * {
    box-sizing: border-box;
}

#purgecord .col {
    display: flex;
    flex-direction: column;
}

#purgecord .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#purgecord .mb1 {
    margin-bottom: 8px;
}

#purgecord .log {
    margin-bottom: 0.25em;
}

#purgecord .log-debug {
    color: inherit;
}

#purgecord .log-info {
    color: #00b0f4;
}

#purgecord .log-verb {
    color: #72767d;
}

#purgecord .log-warn {
    color: #faa61a;
}

#purgecord .log-error {
    color: #f04747;
}

#purgecord .log-success {
    color: #43b581;
}